pyrogram==2.0.106
telethon==1.28.5
tgcrypto==1.2.5
motor==3.3.2
pymongo==4.5.0
python-dotenv==1.0.0
yt-dlp==2023.11.16
ffmpeg-python==0.2.0
aiofiles==23.2.1
aiohttp==3.8.6
pillow==10.1.0
pyshorteners==1.0.1
google-api-python-client==2.108.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
python-magic==0.4.27
psutil==5.9.6
