python-telegram-bot==20.7
moviepy==1.0.3
pydub==0.25.1
pytube==15.0.0
requests==2.31.0
pillow==10.0.1
ffmpeg-python==0.2.0
py7zr==0.20.5
yt-dlp==2023.7.6
urlextract==1.8.0
aiohttp==3.8.5
filetype==1.2.0
python-multipart==0.0.6
